* {
    font-family: monospacem sans-serif;
    font-size: 1em;
}
  
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Typography */
h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: royalblue;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

/* Header */
#language {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.5em;
    color: blue;
}

#language:hover {
    cursor: pointer;
}

/* Sections */
.sectionButton {
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    border-radius: 5% 10%;
    margin-top: 10px;
    font-size: 1.5em;
    width: 7em;
}

.sectionButton:hover {
    background-color: blue;
    color: white;
}

.sectionButton:active {
    background-color: darkblue;
    color: yellow;
}

.sectionButton:last-child {
    margin-bottom: 0.5em;
}

.sectionButtonCompleted {
    background-color: springgreen;
    color: brown;
}

/* Exercise */
#exercise {
    display: none;
}

#category {
    color: tomato;
    margin-bottom: 0.5em;
}

#name {
    color: blue;
    margin-bottom: 0.5em;
    visibility: hidden;
}

.objectImage {
    border: 2px solid black;
    width:  300px;
    object-fit: cover;
}

/*** Status ***/
#status {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
}

#hint {
    display: none;
    color: blue;
    font-size: 1.5em;
    margin-top: 0.5em;
}

#hint:hover {
    cursor: pointer;
}

/*** Input ***/
#imageNameInput {
    margin: 0.5em;
    font-size: 2em;
    text-transform: uppercase;
    width: 400px;
}

#checkButton {
    border: 2px solid green;
    background-color: white;
    color: green;
    padding: 5px 10px 5px 10px;
    border-radius: 5% 10%;
    margin-top: 10px;
    font-size: 1.5em;
    width: 5em;
}

#checkButton:hover {
    background-color: green;
    color: white;
}

#checkButton:active {
    background-color: darkgreen;
    color: yellow;
}

#nextButton {
    display: none;
    border: 2px solid gray;
    background-color: white;
    color: grey;
    padding: 5px 10px 5px 10px;
    border-radius: 5% 10%;
    margin-top: 10px;
    font-size: 1.5em;
    width: 5em;
}

#nextButton:hover {
    background-color: gray;
    color: white;
}

#nextButton:active {
    background-color: darkgray;
    color: yellow;
}

/** Close exercise button **/
.horizontalContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.buttonContainer {
    position: absolute;
    top: 3px;
    right: 15px;
}

#closeExerciseButton {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

#closeExerciseButton:hover {
    background-color: blue;
    color: white;
}

/*** queries ***/
@media screen and (max-width: 480px) {
    #imageNameInput {
        width: 75%;
    }
}
